click==6.7
configparser==3.5.0
Django==1.11.4
-e git://github.com/theatlantic/django-mysqlndb-backend.git@15403abcf18f264a1945b4f2fb684d15e0fdc82c#egg=django_mysqlndb_backend
django-transaction-hooks==0.2
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pysqlite==2.8.3
pytz==2017.2
six==1.10.0
Werkzeug==0.12.2
